.tripclass{
    position: absolute;
    vertical-align:top;
    padding: 20px;
    width: 20%;
    color:white;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.tripclass html{
    overflow-y:auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    font-family: sans-serif;
  }
